.parent{
	-fx-background-color: #FFFFFF;
}

.registerlabel{
	-fx-underline: true;
	-fx-text-fill: #000000;
}

.registerlabel:hover{
	-fx-text-fill: #f51827;
}

.registerlabel:pressed{
	-fx-text-fill: #fb7a80;
}

.jfxtextfield{
	-jfx-focus-color: #f51827;
	-jfx-unfocus-color: #4d4d4d;
}

.jfxbutton{
	-fx-background-color: #f6444f;
}

.jfxbutton:hover {
	-fx-background-color: #e7404b;
}

.searchbutton:pressed {
	-fx-graphic: url('../../resources/explorar_secundario_pressed.png');
}

.clearbutton:pressed {
	-fx-graphic: url('../../resources/borrar_pressed.png');
}

.newlistbutton:pressed {
	-fx-graphic: url('../../resources/nuevalista_pressed.png');
}

.playlistbutton:pressed {
	-fx-graphic: url('../../resources/play_pressed.png');
}

.editplaylistbutton:pressed {
	-fx-graphic: url('../../resources/edit_pressed.png');
}

.deletelistbutton:pressed {
	-fx-graphic: url('../../resources/eliminar_pressed.png');
}

.optionsbutton:pressed {
	-fx-graphic: url('../../resources/options_pressed.png');
}

.validbutton:pressed {
	-fx-graphic: url('../../resources/valid_pressed.png');
}


.jfxbutton .jfx-rippler{
	-jfx-rippler-fill: #b21821;
}


.sidebarjfxbutton .jfx-rippler{
	-jfx-rippler-fill: #FFFFFF;
}

.sidebar{
	-fx-background-color: #fbfbfb;
}

.sidebarlabel{
	-fx-text-fill: #000000;
}

.sideseparator{
	 -fx-background: #FFFFFF;
}

.sidebarjfxbutton .jfx-rippler{
	-jfx-rippler-fill: #f51827;
}
.sidebarjfxbutton:hover {
	-fx-background-color: #fdc7c3;
}
.sidebarjfxbutton:pressed {
	-fx-text-fill: #FFFFFF;
}

.login:pressed {
	-fx-graphic: url('../../resources/login_pressed.png');
}

.explorar:pressed {
	-fx-graphic: url('../../resources/explorar_pressed.png');
}

.listas:pressed {
	-fx-graphic: url('../../resources/listas_pressed.png');
}

.nuevalista:pressed {
	-fx-graphic: url('../../resources/nuevalista_pressed.png');
}

.premium:pressed {
	-fx-graphic: url('../../resources/premium_pressed.png');
}

.recientes:pressed {
	-fx-graphic: url('../../resources/recientes_pressed.png');
}

.topbar{
	-fx-background-color: #f6f6f6;
}

.topjfxbutton:hover{
	-fx-background-color: #efefef;
}

.topjfxbutton .jfx-rippler{
	-jfx-rippler-fill: #cfcfcf;
}

.removebutton:hover{
	-fx-background-color: #fb7a80;
	-fx-graphic: url('../../resources/close_hover.png');
	
}

.videothumbnail {
	-fx-font-weight: bold;
}

.videotag {
	-fx-font: 14 system;
	-fx-background-color: #efefef; 
	-fx-padding : 2 5 2 5; 
	-fx-font-weight: bold;
}

.videothumbnail:hover {
	-fx-background-color: #cfcfcf;
}

.removebutton .jfx-rippler{
	-jfx-rippler-fill: #f51827;
}
.myjfxlistview .jfx-list-cell{
	-fx-font-size: 14;
}
.myjfxlistview .jfx-list-cell .jfx-rippler{
	-jfx-rippler-fill: #f51827;
	
}
.myjfxlistview .jfx-list-cell:hover{
	-fx-background-color: #fdc7c3;
	-fx-font-size: 14;
}

.myjfxlistview .jfx-list-cell:selected{
	-fx-background-color: #fb7a80;
	-fx-text-fill: #FFFFFF;
	
}
.myscrollview{
	-fx-border-color: #dfdfdf;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.myscrollview .scroll-bar:horizontal .track,
.myscrollview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.myscrollview .scroll-bar:horizontal .increment-button ,
.myscrollview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.myscrollview .scroll-bar:vertical .increment-button ,
.myscrollview .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.myscrollview  .scroll-bar .increment-arrow,
.myscrollview  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.myscrollview .scroll-bar:horizontal .thumb,
.myscrollview .scroll-bar:vertical .thumb {
    -fx-background-color: #f6444f;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.mysearchbar {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #dfdfdf;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-accent: #f6444f;
}

.myjfx-check-box {
     -jfx-checked-color: #f51827;
     -jfx-unchecked-color: black;
}

.mycombo-box {
	-fx-background-color: #ffffff;
	-fx-border-color: #dfdfdf;
	-fx-font-size: 14;
}

.mycombo-box .list-view .list-cell {
	-fx-background-color: #ffffff;
}
.mycombo-box .list-view .list-cell:hover {
	-fx-background-color: #fdc7c3;
}

.mytextfieldtest {
	-fx-background-color: #ffffff;
	-fx-border-color: #dfdfdf;
	-fx-border-radius: 40;
	-fx-pref-width: 80;
	-fx-pref-height: 40;
}
