.parent {
	-fx-background-color: #FFFFFF;
}

/* Label de "No tienes cuenta? Regístrate" */
.registerlabel {
	-fx-underline: true;
	-fx-text-fill: #000000;
}

.registerlabel:hover {
	-fx-text-fill: #f51827;
}

.registerlabel:pressed {
	-fx-text-fill: #fb7a80;
}

/* Estilo genérico de cualquier textfield */
.jfxtextfield {
	-jfx-focus-color: #f51827;
	-jfx-unfocus-color: #4d4d4d;
	-fx-font-size: 14;
}

/* Estilo genérico de cualquier jfxbutton */
.jfxbutton {
	-fx-background-color: #f6444f;
	-fx-text-fill: #ffffff;
}
.jfxbutton:hover {
	-fx-background-color: #e7404b;
}

.jfxbutton .jfx-rippler{
	-jfx-rippler-fill: #b21821;
}

/* Estilo concreto de cualquier botón de una ventana emergente (además del estilo jfxbutton) */
.jfxdialogbutton {
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

/* Cambios de imagen de cada botón que contiene una imagen */
.login:pressed {
	-fx-graphic: url('../../resources/login_pressed.png');
}

.explorar:pressed {
	-fx-graphic: url('../../resources/explorar_pressed.png');
}

.listas:pressed {
	-fx-graphic: url('../../resources/listas_pressed.png');
}

.nuevalista:pressed {
	-fx-graphic: url('../../resources/nuevalista_pressed.png');
}

.premium:pressed {
	-fx-graphic: url('../../resources/premium_pressed.png');
}

.recientes:pressed {
	-fx-graphic: url('../../resources/recientes_pressed.png');
}

.searchbutton:pressed {
	-fx-graphic: url('../../resources/explorar_secundario_pressed.png');
}

.clearbutton:pressed {
	-fx-graphic: url('../../resources/borrar_pressed.png');
}

.newlistbutton:pressed {
	-fx-graphic: url('../../resources/nuevalista_pressed.png');
}

.playlistbutton:pressed {
	-fx-graphic: url('../../resources/play_pressed.png');
}

.editplaylistbutton:pressed {
	-fx-graphic: url('../../resources/edit_pressed.png');
}

.deletelistbutton:pressed {
	-fx-graphic: url('../../resources/eliminar_pressed.png');
}

.optionsbutton:pressed {
	-fx-graphic: url('../../resources/options_pressed.png');
}

.validbutton:pressed {
	-fx-graphic: url('../../resources/valid_pressed.png');
}

.addtagbutton:pressed {
	-fx-graphic: url('../../resources/addtag_pressed.png');
}

.addtagbutton {
	-fx-graphic: url('../../resources/addtag.png');
}

.generatePDFbutton:pressed {
	-fx-graphic: url('../../resources/pdf_pressed.png');
}

/* Elementos de la barra lateral izquierda */
.sidebar{
	-fx-background-color: #fbfbfb;
}

.sidebarlabel {
	-fx-text-fill: #000000;
}

.sideseparator {
	 -fx-background: #ffffff;
}

.sidebarjfxbutton .jfx-rippler {
	-jfx-rippler-fill: #f51827;
}
.sidebarjfxbutton:hover {
	-fx-background-color: #fdc7c3;
}
.sidebarjfxbutton:pressed {
	-fx-text-fill: #ffffff;
}

/* Elementos de la barra superior */
.topbar{
	-fx-background-color: #f6f6f6;
}

.topjfxbutton:hover {
	-fx-background-color: #efefef;
}

.topjfxbutton .jfx-rippler {
	-jfx-rippler-fill: #cfcfcf;
}

.removebutton:hover {
	-fx-background-color: #fb7a80;
	-fx-graphic: url('../../resources/close_hover.png');
}

.removebutton .jfx-rippler {
	-jfx-rippler-fill: #f51827;
}

/* Propiedades genéricas de cualquier miniatura de vídeo */
.videothumbnail {
	-fx-font-weight: bold;
}

.videothumbnail:hover {
	-fx-background-color: #cfcfcf;
}
/* Propiedades genéricas de cualquier etiqueta de un vídeo */
.videotag {
	-fx-font: 14 system;
	-fx-background-color: #efefef; 
	-fx-padding : 2 5 2 5; 
	-fx-font-weight: bold;
	-fx-graphic: url('../../resources/tag.png');
}

.videotag:hover {
	-fx-graphic: url('../../resources/close.png');
}

.videotag:pressed {
	-fx-background-color: #dfdfdf;
}
/* Propiedades genéricas de cualquier listview de la aplicación */
.myjfxlistview .jfx-list-cell {
	-fx-font-size: 14;
}
.myjfxlistview .jfx-list-cell .jfx-rippler {
	-jfx-rippler-fill: #f51827;
	
}
.myjfxlistview .jfx-list-cell:hover {
	-fx-background-color: #fdc7c3;
	-fx-font-size: 14;
}

.myjfxlistview .jfx-list-cell:selected {
	-fx-background-color: #fb7a80;
	-fx-text-fill: #FFFFFF;
}

/* Propiedades genéricas de cualquier panel o elemento que pueda tener un scroll */
.myscrollview {
	-fx-border-color: #dfdfdf;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.myscrollview .scroll-bar:horizontal .track,
.myscrollview .scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.myscrollview .scroll-bar:horizontal .increment-button ,
.myscrollview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.myscrollview .scroll-bar:vertical .increment-button ,
.myscrollview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.myscrollview  .scroll-bar .increment-arrow,
.myscrollview  .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.myscrollview .scroll-bar:horizontal .thumb,
.myscrollview .scroll-bar:vertical .thumb {
    -fx-background-color: #f6444f;
	-fx-background-radius: 2em;
}

/* Propiedades genéricas de cualquier textfield que no sea JFX */
.mysearchbar {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #dfdfdf;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-accent: #f6444f;
}

/* Propiedades genéricas de cualquier checkbox y combobox */
.myjfx-check-box {
     -jfx-checked-color: #f51827;
     -jfx-unchecked-color: #6f6f6f;
}

.mycombo-box {
	-fx-background-color: #ffffff;
	-fx-border-color: #dfdfdf;
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
	-fx-accent:  #fdc7c3;
}

.mycombo-box .list-view .list-cell:hover {
	-fx-background-color: #fdc7c3;
}


/* Estilo genérico de cualquier contenedor que queramos que tenga un borde y color de fondo */

.mybordercontainer {
	-fx-border-color: #dfdfdf;
	-fx-background-color: #f4f4f4;
}
