/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.parent{
	-fx-background-color: #FFFFFF
}

.sidebar{
	-fx-background-color: #fbfbfb
}

.sidebarlabel{
	-fx-text-fill: #000000
}

.sideseparator{
	 -fx-background: #FFFFFF
}

.jfxbutton .jfx-rippler{
	-jfx-rippler-fill: #f51827
}
.jfxbutton:hover {
	-fx-background-color: #fdc7c3
}
.jfxbutton:pressed {
	-fx-text-fill: #FFFFFF;
}

.login:pressed {
	-fx-graphic: url('../../resources/login_pressed.png');
}

.explorar:pressed {
	-fx-graphic: url('../../resources/explorar_pressed.png');
}

.listas:pressed {
	-fx-graphic: url('../../resources/listas_pressed.png');
}

.nuevalista:pressed {
	-fx-graphic: url('../../resources/nuevalista_pressed.png');
}

.premium:pressed {
	-fx-graphic: url('../../resources/premium_pressed.png');
}

.recientes:pressed {
	-fx-graphic: url('../../resources/recientes_pressed.png');
}



.topbar{
	-fx-background-color: #f6f6f6
}

.topjfxbutton:hover{
	-fx-background-color: #efefef
}

.topjfxbutton .jfx-rippler{
	-jfx-rippler-fill: #cfcfcf
}

.removebutton:hover{
	-fx-background-color: #fb7a80;
	-fx-graphic: url('../../resources/close_hover.png');
	
}

.removebutton .jfx-rippler{
	-jfx-rippler-fill: #f51827
}
